.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}