.layout {
    color: white;
    background-color: #373737;
    font-family:  'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .upload-image {
    display: none;
  }
  
  .input {
    border-radius: 20px;
    width: 290px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .btn-upload {
    border-radius: 20px;
    width: 100px;
    height: 30px;
  }
  
  .profile-picture {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 20px;
  }
  
  .btn {
    height: 50px;
    width: 165px;
    background-color: #151515;
    color: white;
    border-radius: 20px;
    border: 0;
    font-weight: 100; /* Light */
    font-size: 20px;
    margin-top: 20px;
  }
  
  .btn:active {
    opacity: 60%
  }