.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Ajusta el ancho según sea necesario */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .option-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .votes {
    font-size: 14px;
    color: #555;
  }
  
  .vote-count {
    font-weight: bold;
    color: #000;
  }

.option-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    gap: 10px; /* Espaciado entre los rectángulos */
    width: 100%;
    max-width: 600px; /* Ajusta el ancho según sea necesario */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
}

.survey-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    gap: 10px; /* Espaciado entre los rectángulos */
    width: 100%;
    max-width: 600px; /* Ajusta el ancho según sea necesario */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f5f5;
    color: #000;
}

body {
    background-color: white;
}