.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.btnContainer {
    display: flex;
   flex-direction: row;
}

.btn {
    margin-top: 1em;
    font-size: 20px;
    border-radius: 50px;
    color:  #D4D4D4;
    background-color: rgb(66, 66, 233);
    width: 160px;
    height: 40px;
   border: none;
}
.btn:hover{
    border: 1px solid;
    background-color: rgba(66, 66, 233, 0.778);
}



.dialog {
    position: absolute;
    height: 500px;
    width: 600px;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #151515;
    color: white;
    border: 0;
    box-sizing: border-box;
    padding: 100px;
}