.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nickname-input {
    border-radius: 5px;
    background-color: antiquewhite;
    margin: 10px;
}

.password-input {
    border-radius: 5px;
    background-color: antiquewhite;
    margin: 10px;
}

.submit-button {
    border-radius: 5px;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}